.place__web-site {
  align-self: end;
  max-width: 456px;
}

@media screen and (max-width: 627px) {

  .place__web-site {
    max-width: 100%;
    width: calc(100% - 48px);
    margin: 0 auto;
  }

}

@media screen and (max-width: 330px) {

  .place__web-site {
    width: calc(100% - 32px);
  }

}

