.photo-grid {
  width: 93%;
  margin: auto;
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 720px) {

  .photo-grid {
    padding-top: 64px;
  }

}

