.cover__subtitle {
  position: absolute;
  top: calc(50% + 55px);
  margin: 0;
  max-width: 360px;

  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.222;
  text-align: center;
}

@media screen and (max-width: 627px) {

  .cover__subtitle {
    top: calc(50% + 15px);
    max-width: 265px;
    font-size: 14px;
    line-height: 16px;
  }

}
