.place__paragraph {
  margin: 0;
  padding-bottom: 1.8em;

  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 627px) {

  .place__paragraph {
    max-width: 100%;
    width: 93%;
    margin: 0 auto;
  }

}
