.intro {
  margin: auto;
  width: calc(100% - 296px);
  /* width: 77%; */
  padding-top: 94px;
}

@media screen and (max-width: 1024px) {

  .intro {
    width: calc(100% - 96px);
  }

}

@media screen and (max-width: 768px) {

  .intro {
    width: calc(100% - 48px);
  }

}

@media screen and (max-width: 720px) {

  .intro {
    padding-top: 64px;
  }

}

@media screen and (max-width: 330px) {

  .intro {
    width: calc(100% - 32px);
  }

}

