.place__link {
  width: 100%;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;

  text-decoration-line: underline;
  color: white;
  transition: .3s ease;
}

.place__link:hover {
  opacity: .8;
}
