.cover__background {
  max-width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover__background:hover .cover__overlay {
  background: #2A2C2F;
  opacity: 0.8;
}
