.lead__caption {
  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {

  .lead__caption {
    width: calc(100% - 48px);
    margin: auto;
  }

}

@media screen and (max-width: 330px) {

  .lead__caption {
    width: calc(100% - 32px);
  }

}
