.cover__title {
  top: calc(50% - 126px);
  position: absolute;
  margin: 0;
  max-width: 560px;

  font-weight: 900;
  font-size: 72px;
  line-height: 1.056;
  text-align: center;
}

@media screen and (max-width: 627px) {

  .cover__title {
    top: calc(50% - 67px);
    max-width: 255px;
    font-size: 32px;
    line-height: 35px;
  }

}

