.lead__figure {
  width: 77%;
  margin: auto;
  padding-top: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__figure {
    width: 91%;
    padding-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__figure {
    width: 100%;
    padding-top: 64px;
  }
}

@media screen and (max-width: 720px) {
  .lead__figure {
    padding-top: 40px;
  }
}
